<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tdu.mapper.UserMapper">
	<select id="findAll" resultType="com.tdu.pojo.User">
		select
		  id,
		  uname,
		  upwd
		from t_user
	</select>

	<delete id="delete" parameterType="String">  
        delete from t_user where id = #{id}  
    </delete>
    
    <insert id="add" parameterType="com.tdu.pojo.User" useGeneratedKeys="true" keyProperty="id">  
        insert into t_user (uname, upwd) values (#{uname}, #{upwd})  
    </insert>  
</mapper>